name: Build kernel
on:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**

jobs:
  build:
    name: Build kernel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: sudo bash build.sh

      - name: Artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact
          path: ${{ github.workspace }}/artifact/
